.sideNav {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 15%;
    position: fixed;
    background-color: #350c45;
    padding-top: 60px;
    white-space: pre-wrap
}

.item2{
    padding-top: 95%;
}

.item2 button{
    background: none!important;
    border: none;
    padding: 0!important;
    font-size: 100%;
    font-family: arial, sans-serif;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.item {
    font-size: 150%;
    line-height: 370%;
}

a {
    color: white;
    text-decoration: none;
}

img{
    width: auto;
    height: 60px;
}




